*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(212, 150, 236);
}

@font-face {
    font-family: 'Mikado';
    src: url("fonts/MikadoBold_DEMO.otf");
}

.logo {
    width: 3.75%;
}

nav{
    background-color: rgb(184, 74, 228);
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}


ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Mikado";
    font-size: 1.3em;
}

ul li {
    background-color: rgb(139, 57, 172);
    padding: .5rem 5rem;
    border-radius: 0;
    border: solid 5px  transparent;
    transition: border-radius 1s, background-color .5s;
}

ul li:hover {
    border-radius: 8px;
    background-color: rgb(184, 74, 228);
    border: solid 5px  rgb(139, 57, 172);
    transition: border-radius 1s, background-color .8s, border .5s;
}


/* MAIN */
.index{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6%;
}

.index__button-play {
    margin-top: 5px;
    background-color: rgb(133, 95, 138);
    padding: 1rem 10rem;
    font-size: 1.8em;
}

.index__button-play:hover{
    background-color: rgb(91, 61, 95);
    border: solid 5px  rgb(133, 95, 138);
}
